nav {
  height: 110px;
  width: 100%;
  background: $background-eternity;
  display: flex;
  flex-direction: row;


}

.background__header {
  //   position: absolute;
  width: 100%;
  height: 980px;
  left: 0px;
  top: 0px;
  z-index: -5;
  background: $background-eternity;
}

.menu {


  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  padding: 46px 0px 45px 0px;
  margin-left: 310px;
  list-style-type: none;

  &__contacts_phone {
    margin-top: 43px;
    margin-left: 55px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: $ambience-white;

    a {
      text-decoration: none;

      &:hover {

        color: #999;
      }
    }

  }

  &__hr-under {
    width: 1440px;
    height: 2px;
    border: none;
    background: $balsamic-reduction;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &__logo_img {
    margin-top: 37px;
    width: 164px;
    height: 36px;

    &:hover {
      text-decoration: none;
      scale: 1.2;
    }


  }

  &__icon {
    margin-top: 44px;
    margin-left: 20px;
    width: 26px;
    height: 22px;
  }

  &__hr {
    margin-top: 20px;
    margin-left: 40px;
    width: 2px;
    height: 70px;
    background: $balsamic-reduction;
    border: none;
  }

  a {
    text-decoration: none;

    &:hover {
      color: #999;
    }


  }

  &_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $ambience-white;
  }

  &_item {
    padding-left: 60px;

    &:first-child {
      padding-left: 0px;
    }
  }



}
